.tomato {
    background: #3A3A3A;
    float: center;
    height: 100px;
}

.service-text {
	color: #fff;
	vertical-align: middle;
	line-height: 4em;
}

.flat::before {
  width: 30 px;
  content: url(img/bg.jpg);  
}

.angle {
  background: linear-gradient(-45deg, transparent 70px, #3A3A3A 0) right, linear-gradient(135deg, transparent 70px, #3A3A3A 0) left;
background-size: 50% 100%;
background-repeat: no-repeat;

}

.logo {
  margin-left: 20px;
}

.foot {
	margin-left: 10px;
}

.foot:hover {
  background-color: #F89B4D;
}
